body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.section__awesome {
    padding: 68px 0 58px;
}
.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
}
.title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 102px;
    position: relative;
}
.title::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 1px;
    background: #EC7979;
    left: 500px;
    top: 90px;
}
.sutitle {
    color: #86878B;
    text-align: center;
    margin-bottom: 71px;
}
.card__wrapper {
    text-align: center;

}
.card:nth-child(2){
    margin-right: 20px;
    margin-left: 20px;
}

.card {
    width: 370px;
    display: inline-block;
    text-align: center;
    

}
.card__icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 41px;

}
.card__title {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 49px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;

}
.card__text {
    text-align: center;
}
